@media screen and (min-width:992px) {
    .banner {
        background-image: url(../images/bg_1.jpg);
        background-size: 100%;
        height: 665px;
        background-repeat: no-repeat;
    }
}

@media screen and (min-width:320px){
    .banner {
        background-image: url(../images/bg_1.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.bg-1 {
    background: #E3FDFD;
}

.bg-2 {
    background-color: #CBF1F5;
}

.bg2 {
    background: #71C9CE;
}

.bg-light {
    background-color: #A6E3E9 !important;
}

.btn-1 {
    background: #71C9CE;
    border: none;

}

.btn-2 {
    background: #ffffff;
    color: #6c6c6c;
}

.btn-2:hover {
    background: #ffffff;
    color: #000000;
}

.card {
    background-color: #A6E3E9 !important;
    border: 1px solid #000000 !important;
}

.card:hover {
    box-shadow: 1px 1px 10px #4b4b4b;
    transition-duration: 0.5s;
}

.fnt-1 {
    background: linear-gradient(43deg, #ff00fe 0%, #ffb100 40%, #01ff19 100%);
    background-clip: text;
    color: transparent;
    /* font-size: 30px; */
    font-weight: 600;
}

.fnt-2 {
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 35px;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
}

.line {
    width: 40%;
    height: 2px;
    background: linear-gradient(43deg, #71C9CE 0%, #A6E3E9 50%, #CBF1F5 75%, #CBF1F5 100%);
}